{% extends "layout.html" %}

{% block content %}

<p>Lisk of possible tasks to complete</p>

{% for task in task_info.allTasks %}

{% if task_info.claim_id(task) %}
<div class="card border-warning  ">
{% elif task_info.request_id(task) %}
<div class="card border-success ">
{% elif task.isCooloffActive() %}
<div class="card border-primary">
{% else %}
<div class="card">
{% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ task.name }}</h5>
        {% if task.isCooloffActive() %}
        <h6 class="card-subtitle mb-2 text-muted">
            Worth {{ task.coolOffValue }} points. Cool off is active, resetting on {{ task.whenCoolOffEnding().strftime("%Y-%m-%d") }}
        </h6>
        {% else %}
        <h6 class="card-subtitle mb-2 text-muted">Worth {{ task.value }} points</h6>
        {% endif %}
        <p class="card-text">{{ task.description }}</p>
        <div>
            {% if task.lastCompletedDate %}
            <small>Last completed by {{ task.lastCompletedBy.username }} on {{ task.lastCompletedDate.strftime("%Y-%m-%d") }}</small>
            {% else %}
            <small>No one has completed this task yet!</small>
            {% endif %}
        </div>
        <div>
            {% if task_info.has_user_requested(curr_user, task) %}
            <small>You have requested this task to be completed!</small>
            {% elif task_info.request_id(task) %}
            <small>Someone has requested this task to be completed!</small>
            {% endif %}
            {% if task_info.has_user_claimed(curr_user, task) %}
            <small>You have claimed this task!</small>
            {% elif task_info.claim_id(task) %}
            <small>This task is currently claimed!</small>
            {% endif %}
        </div>
        <!-- You can't complete a task that is claimed by another user -->
        {% if not task_info.has_other_user_claimed(curr_user, task) %}
            <a href="{{ url_for('tasks.taskcomplete', taskid=task.id, requestid=task_info.request_id(task), claimid=task_info.claim_id(task)) }}" class="card-link">Complete</a>
        {% endif %}
        {% if not task_info.claim_id(task) %}
            <a href="{{ url_for('tasks.taskclaim', taskid=task.id) }}" class="card-link">Claim</a>
        {% endif %}
        {% if not task_info.claim_id(task) and not task_info.request_id(task) %}
            <a href="{{ url_for('tasks.taskrequest', taskid=task.id) }}" class="card-link">Request</a>
        {% endif %}
    </div>
</div>

{% endfor %}


<div class="card">
        <div class="card-body">
            <h5 class="card-title">Create a new task</h5>
            <a href="{{ url_for('tasks.newtask') }}" class="card-link">New Task</a>
        </div>
    </div>
    

{% endblock content %}

