{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            {% if once_off %}
            <legend class="border-bottom mb-4">Create a once off task</legend>
            {% else %}
            <legend class="border-bottom mb-4">Create a new task</legend>
            {% endif %}

            <div class="form-group">
                {{ form.name.label(class="form-control-label")}}
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg")}}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label")}}
                {% if form.description.errors %}
                {{ form.description(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.description(class="form-control form-control-lg")}}

                {% endif %}

            </div>
            <div class="form-group">
                {{ form.value.label(class="form-control-label")}}
                {% if form.value.errors %}
                {{ form.value(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.value.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.value(class="form-control form-control-lg")}}

                {% endif %}

            </div>
            {% if not once_off %}
                <div class="form-group">
                    {{ form.coolOffPeriod.label(class="form-control-label")}}
                    {% if form.coolOffPeriod.errors %}
                    {{ form.coolOffPeriod(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.coolOffPeriod.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.coolOffPeriod(class="form-control form-control-lg")}}

                    {% endif %}

                </div>
                <div class="form-group">
                    {{ form.coolOffValue.label(class="form-control-label")}}
                    {% if form.coolOffValue.errors %}
                    {{ form.coolOffValue(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.coolOffValue.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.coolOffValue(class="form-control form-control-lg")}}

                    {% endif %}

                </div>
            {% endif %}

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}

        </div>

    </form>

</div>


{% endblock content %}